body {
    background-color: white;
    background-repeat: repeat;
    background-image: url('box.png');
    background-size: 2%;
    background-position: bottom;
    min-height: 95vh;
    display: flex;
    flex-direction: column;
    
}

Table, tr, th {
    border-bottom:1px solid rgba(194, 82, 194, 0.9);
    border-top:1px solid rgba(194, 82, 194, 0.9);
    border-left:1px solid rgba(194, 82, 194, 0.9);
    border-right:1px solid rgba(194, 82, 194, 0.9);
    width: 50%;
    border-collapse: collapse;
    background-color: black;
}

h1, h2, h3 {
    color: orange;
    font-size: 40px;
}

p {
    color:rgba(255, 175, 150, 0.7)
    
}

#games_button {
    background-image: url("controller.png");
    border-radius: 5px;
    background-color:rgba(100, 175, 255, 0.7);
    background-size: contain;
    border: 2px solid green;
    background-repeat:no-repeat;
    padding: 5px 20px;
    
}
#games_button:hover {
    box-shadow: 0 1px 16px 0 rgba(200,0,0, 0.5), 0 170px 50px 0 rgba(0,0,0,0.19);
}
footer {
    margin-top: auto;

    color:rgba(255, 0, 255, 0.9);
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}